# Laravel specific
/.phpunit.cache
.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key
/storage/pail
/vendor
/app/storage
/bootstrap/compiled.php

# Environment files
.env
.env.backup
.env.production

# Development tools
Homestead.json
Homestead.yaml
/.vagrant
/.ddev
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Log files
npm-debug.log
yarn-error.log

# Other
.phpactor.json
/auth.json
